@import '~node_modules/modern-normalize/modern-normalize.css';

a {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: 250ms;
  &:hover,
  &:focus {
    transform: scale(1.10);
    box-shadow: 6px  6px 12px rgba(0, 0, 0, .25);
  }
}
img {
  display: block;
  max-width: 100%;

  object-fit: cover;
}

.container {
 
  margin-left: auto;
  margin-right: auto;
  
}

.search-form {
  background-color: rgb(6, 72, 179);
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.input {

  width: 500px;
  display: flex;
  padding: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  border-color: transparent;

}



.search-form__submit {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 100px;
  margin-top: 100px;
}

.photo-card {
  max-width: 300px;
  box-shadow: 6px  6px 12px rgba(0, 0, 0, .25);
}


.info {
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
background-color: #fff;
 
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
}

.load-more {
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: transparent;
  color: #fff;
  background-color: rgb(37, 71, 204);
}

